.login {
  max-width: 24rem;
  margin: 2rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1rem;
}

.logo_img {
  height: 3.125rem;
  width: auto;
  padding: 0.325rem;
  display: inline-block;
}

.content {
  border: 1px solid #aaa;
  padding: 0 2rem;
  background-color: white;
  border-radius: 0.4rem;
}

.content h1 {
  margin: 1rem 0;
  font-weight: 600;
}

.formGroup {
  margin: 1.6rem 0;
}

.formLabel {
  display: block;
  font-weight: 600;
  margin: 0.6rem 0 0.2rem;
}

.formInput {
  width: 100%;
  padding: 0.625rem;
  font-weight: 600;
}

.formGroup p {
  font-weight: 600;
  font-size: 0.9rem;
  text-align: left;
  line-height: 1.4;
}

.formGroup button {
  width: 100%;
  padding: 0.625rem 0;
  border: 1px solid #333;
  border-radius: 0.3rem;
  outline: none;
  cursor: pointer;
}

.formGroup button[type='submit'] {
  background-color: var(--search-icon-bgcolor);
}
